div.ant-app {
  height: 100%;
  width: 100%;
}

/* 覆盖 card 样式 */
div.ant-card {
  --ant-card-actions-bg: #fff6 !important;
  --ant-color-bg-container: #fff6 !important;
  border: 1px solid #0001;
}

/* 覆盖 input 样式 */
.ant-input {
  --ant-color-bg-container: #fffa !important;
}

/* 覆盖 select 样式 */
.ant-select {
  --ant-select-background-color: #fffa !important;
}
